:root {
  --light: rgb(255, 255, 255);
  --grey: rgb(198, 198, 198);
  --dark-grey: rgb(129, 129, 129);
  --purple: rgb(110, 133, 183);
  --dark-purple: rgb(43, 58, 90);
}
._dashboardComponent {
  width: 100%;
  height: 100%;
}
.cols {
  display: flex;
  align-items: center;
}
.col-left {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  background: var(--light);
  padding: 20px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  z-index: 999;
  flex-wrap: wrap;
}
.col-left ._app_name {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000000;
}
.list_components {
  margin-top: 20px;
}
.list_components ._list {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.list_components ._list a {
  color: #797979;
  text-decoration: none;
}
._list:hover {
  padding-left: 10px;
  color: var(--purple);
}
.list_components ._list:hover a {
  color: var(--purple);
}
._list ._list_icon {
  margin-right: 5px;
  font-size: 1.4rem;
}
._list ._list_icon i {
  color: #797979;
}
._list:hover ._list_icon i {
  color: var(--purple);
}
._list ._list_text {
  font-size: 1rem;
}

.col-right_s1 {
  margin-left: 245px;
  width: 100%;
  height: 100%;
  padding: 20px;
}
._tp_greet {
  font-weight: 500;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
._tp_greet #user {
  margin-left: 5px;
}
._session_ ._userSession ._session_table {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._session_table #view {
  width: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  background: var(--purple);
  box-shadow: none;
  font-weight: 500;
  color: #eee;
}
._session_ ._userSession {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}
._session_table #name {
  font-weight: 500;
  font-size: 1.3rem;
}
._c9 {
  margin-top: 20px;
  padding: 10px;
  height: 100%;
  max-height: 500px;
  overflow-y: scroll;
}
table {
  background-color: transparent;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  border-left: 3px solid var(--purple);
  padding: 2px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}
td{
  text-align: left;
/* margin: auto; */
  padding: 10px;
}
tr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._c9 ._session_service i,
._session_status i,
._session_location i {
  font-size: 1.3rem;
  color: var(--dark-grey);
}
.addButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 0.3s ease-in-out;
}
.addButton #add_session {
  padding: 15px 20px;
  border-radius: 8px;
  background: var(--light);
  outline: none;
  border: none;
  font-size: 1rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: var(--dark-purple);
  font-weight: 500;
  position: relative;
}
#add_session::before {
  content: "+";
  position: absolute;
  top: 10px;
  left: -90px;
  background: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  color: var(--dark-purple);
  font-size: 1.4rem;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
#add_session:hover::before {
  left: -43px;
  opacity: 1;
  pointer-events: auto;
}
#add_session::before:hover {
  opacity: 1;
  pointer-events: auto;
  right: -43px;
}
@media screen and (max-width: 646px) {
  th {
    font-size: 15px;
  }
}
