:root {
  --light: rgb(255, 255, 255);
  --grey: rgb(198, 198, 198);
  --dark-grey: rgb(129, 129, 129);
  --purple: rgb(110, 133, 183);
  --dark-purple: rgb(43, 58, 90);
}
.addComponent {
  width: 100%;
  height: 100%;
}
.componentConent {
  position: absolute;
  top: -200%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background: var(--light);
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.componentConent.active {
    top: 50%;
}
.componentConent h3 {
  text-align: center;
}
#k-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 15px;
  background-color: var(--light);
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}
#k-list img {
  width: 30px;
  margin-right: 5px;
}
#k-list #k-list-name {
  font-weight: 500;
}
