:root {
  --Dark: rgba(36, 40, 48, 255);
  --Light: rgba(231,235,238,255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: var(--Light);
}